{% extends 'base.html' %}
{% load static %}
{% block otherpage %}

<head>
    <title>Appointment Master</title>
    <link type="text/css" rel="stylesheet" href="{% static 'pages/homepage.css' %}" />
    <style>
       h1{
          margin-left:10px;
       }
       h2{
          font-size: 20px;
       }
    </style>
</head>

<br />
<h1 >Cities</h1>
<br />

<div class="row" id="City" style="margin-left: 10px;">
   {% for i in city_box %}
    
   <div class="card card-primary col-sm">
      <h2 align='center'>{{i}}</h2>
      <div>
         {% for j in objects_s %}
            {% if j.city == i %}
               <a class='btn btn-link ' href="/service/view?serid={{j.id}}" style="font-size:15px;"> {{j.title}} | {{j.day}} </a> <br />
            {% endif %}
         {% endfor %}
      </div>
      <!-- <a href="" id='seemore'>See More</a> -->
      <br />
      <br />
   </div>

   {% endfor %}
</div>
<br />
<h1 >Business</h1>
<br />
<div class="row" id="Busi" style="width:90%; margin-left: 10px;">
       
        {% for i in busi_ser_city %}
        
        <div class="card card-primary col-sm" >
            <h2 align='center'>{{i}}</h2>
            <div >
               {% for j in objects_s %}
                  {% if j.city == i and j.stype == 'Business' %}
                     <a href="/service/view?serid={{j.id}}" style="font-size:15px;"> {{j.title}} | {{j.day}} </a>  <br />
                  {% endif %}
               {% endfor %}
               <!-- <a href="" >See More</a> -->
            </div>
        </div>
        {% endfor %}
    </div>
    <br />
    <h1>Doctor</h1>
    <br />
   <div class="row" id='Doc'  style="width:90%;margin-left: 10px;">
      
      {% for i in doc_city %}
      <div class="card card-primary col-sm">
         <h2 align='center'>{{i}}</h2>
         <div>
            {% for j in objects_s %}
            {% if i == j.city and j.stype == 'Doctor' %}
            <a href="/service/view?serid={{j.id}}" style="font-size:15px;"> {{j.title}} | {{j.day}} </a>  <br />
            {% endif %}
            {% endfor %} 
         </div>
      </div>
      {% endfor %}
   </div>

{% endblock %}