{% extends 'base.html' %}

{% load static %}

{% block otherpage %}

<style>
body {font-family: Arial, Helvetica, sans-serif;}


/* Full-width input fields */
form.client input[type=text],input[type=number], input[type=password],select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

select{
	margin-top: 5px;
	padding:3px;
	width: 100%;
	background: #f1f1f1;
	font-size: 15px;
}

hr.client {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
input[type=reset],input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width:50%;
  opacity: 0.9;
}

button.clearfix:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn, input[type=reset]{
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.client .container  {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */

</style>

<script>
	
	function checkpassword(){
	
		p1 = document.getElementsByName('password')[0].value;
		p2 = document.getElementsByName('password_r')[0].value;
		p3 = document.getElementById('error');
		
		if(p1!=p2){
			
			p3.innerHTML = '<b> <font color=\'red\'>  Password not matching...</font></b>';
			return;
			
		}else
			p3.innerHTML = '';
	}
	
	function checkmobile(){
		v1 = document.getElementsByName("mobile")[0];
		v2 = document.getElementById('mobile_error');
		
		if(v1.value.length!=10){
			v2.innerText='not valid number...';
			return;
		}else
			v2.innerText='';
	}
	
</script>

<form class="client" action="{% url 'clientSignup' %}" method='post' style="border:1px solid #ccc">
	
	{% csrf_token %}
	
  <div class="container">
    <h1>User Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
	
	<label for="name"><b>Username : </b></label>
    <input type="text" placeholder="Enter Username" name="name" required>
	
	<!-- <label for="dname"><b>Displayname :</b></label>
    <input type="text" placeholder="Enter Displayname" name="display name" required>
   -->
   
  <label for="gender"><b>Gender : </b></label>
    <input type="radio" name="gender" value="Male" required checked> Male
	<input type="radio"  name="gender" value="Female" required> Female
	
	<br /> <br / >
		
	<label for="location"><b>City : </b></label>
	<br/>
    <select required name='location'>
		<option> </option>
		{% for abc in city %}
		<option value='{{ abc.1 }}'>{{ abc.1 }}</option>
		{% endfor %}
		
	</select><br /> <br />
	
	<label for="email"><b>Email : </b></label>
    <input type="text" placeholder="Enter Email" name="email_id" required>
	
	<label for="mobile"><b>Mobile No : </b></label>
	<label for="mobile"><b style='color:red;' id='mobile_error'></b></label>
    <input type="number" placeholder="Enter Mobile No" onkeyup='return checkmobile()' min='1000000000' max='9999999999' name="mobile" required>

    <label for="password"><b>Password : </b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <label for="password_r"><b>Repeat Password : </b></label>
	<label for="password_r" id = "error"></label>
    <input type="password" placeholder="Repeat Password" onkeyup='return checkpassword();' name="password_r" required>
    
    
    
    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <input type="reset" class="cancelbtn" value="Cancel" />
      <input type="submit" class="signupbtn" value="Sign Up" />
    </div>
  </div>
</form>

{% endblock %}
