
{% extends 'base.html' %}

{% load static %}

{% block otherpage %}

<head>
    
    <title>Manage Appointment</title>
    
    <link type="text/css" rel="stylesheet" href="{% static 'pages/clientprovidercontentstyle.css' %}" />

    <style>
    
        .box:hover{
            cursor:pointer;
        }

        h2{
            font-size: 20px;
        }

        h4{
            font-size: 15px;
        }

    </style>

</head>

<body>
    
    <div class="container-fluid" >

            {% if isappointmentsare %}
            <div class="row">
            {% for a in appointment %}
            
            <div class="col-sm" style="background: linear-gradient(gray,black,black,blue,black); margin:10px;" onclick="window.location('/client/appointment/edit/{{a.id}}')">
                
                <a href="{% url 'editapp' a.id %}">
                    <span>{% if a.status == 'Pending' %} <font color="yellow">- {{a.status}} -</font> {% elif a.status == 'Rejected' %} <font color="Red">- {{a.status}} -</font> {% else %}<font color="lightblue"> - {{a.status}} - </font> {% endif %}  </span>
                    
                    <h2 align='center' >{{a.serviceid.title}} 
                        <span > :- </span>
                    <span >{{a.time}} {{a.date}}</span>
                    
                    </h2>
                    
                    <hr />
                    
                    <div>
                            <h4 align="center" ><span style='color: lightblue;'>Open Till :- </span>  {{a.serviceid.time_end_h}}:{{a.serviceid.time_end_m}} <span style='color: lightblue;'> | Active Days :- </span> {{a.serviceid.day}} <br /> <span style='color: lightblue;'>Address :- </span> {{a.serviceid.location}} <br /> <span style='color: lightblue;'> City :- </span> {{a.serviceid.city}} <br /> <span style='color: lightblue;'> Phone :-</span> {{a.serviceid.phone_no}} <span style='color: lightblue;'>  | type :- </span> {{a.serviceid.stype}} </h4>
                            
                    </div>
                    
                </a>
<br/>
                <span  ><a  href="{% url 'editapp' a.id %}">Edit</a> |
                    <a  href="{% url 'delapp' a.id %}">Delete</a>
                    
                </span>

            </div>
            
            {% endfor %}
        </div>
            {% else %}
            <div class="box" >
                
                <a href="">
                    <span style="float:right; margin-right:20px; margin-top: 5px;">{% if a.status == 'Pending' %} <font color="yellow">- {{a.status}} -</font> {% elif a.status == 'Rejected' %} <font color="Red">- {{a.status}} -</font> {% else %}<font color="lightblue"> - {{a.status}} - </font> {% endif %}  </span>
                    
                    <h2 align='center' style="margin-bottom:0;">No Appointments 
                        
                    </h2>
                    
                   
            </div>
            {% endif %}

    </div>
    
</body>

{% endblock %}