{% extends 'base.html' %}
{% load static %}
{% block otherpage %}
    <head>
        <title>Service Provider Dashboard</title>
        <link type="text/css" rel="stylesheet" href="{% static 'pages/serviceprovidercontentstyle.css' %}" />
    </head>

    <body>
       <div class="container">

            <!-- <div class="box">
                <h3 align='center'>Appointment</h3>
                <div>
                    <ul>
                        <li>Show All</li>
                        <li>Create new</li>
                        <li>History</li>
                    </ul>
                </div>
            </div> -->

            <div class="box">
                <h3 align='center'>Services</h3>
                <div>
                    <ul>
                        <a href='{% url "newservice" %}'><li>Create new</li></a>
                        <a href="{% url 'manageservice' %}"><li>Manage</li></a>
                        <a href="{% url 'appointment_sp' %}"><li>Appoinments</li></a>
                    </ul>
                </div>
            </div>

			<!-- <div class="box">
                    <h3 align='center'>User</h3>
                    <div>
                        <ul>
                            <li>Show All</li>
                            <li>View Feedback</li>
                            <li>History</li>
                        </ul>
                    </div>
                </div> -->
		
			<!-- <div class="box">
                    <h3 align='center'>Service Provider</h3>
                    <div>
                        <ul>
                            <li>Show All</li>
                            <li>Create new</li>
                            <li>History</li>
                        </ul>
                    </div>
                </div> -->
       </div> 
{% endblock %}